header {
    background-color: #367bf0;
    color: white;
    height: 100px;
    font-size: x-large;
    line-height: 100px;
    text-align: center;
}

nav {
    background-color: #E43030;
    color: white;
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
}