header {
    background-color: #367bf0;
    color: white;
    height: 100px;
    font-size: x-large;
    line-height: 100px;
    text-align: center;
}

nav {
    background-color: #E43030;
    color: white;
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}

table.paper {
    width: 100%;
    margin: 10px 20px;
}

.cabecera_tabla {
    border-bottom: #E43030 1px solid;
    text-align: left;
}

.pie_de_pagina {
    margin-top: 40px;
    padding: 20px;
    border-top: #367bf0 solid 1px;
}

nav.main_menu a {
    color: white;
}

h1.main_page_title {
    text-align: center;
}

form button {
    font-size: 10px;
    font-family: Verdana, Helvetica;
    font-weight: bold;
    color: white;
    border: 0px;
    width: 50px;
    height: 50px;
}

form.paper {
    width: 100%;
    margin: 10px 20px;
}

button {
    color: #7b7e8c;
}