<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block head_title %}myCRYPTO{% endblock%}</title>
    <link rel="stylesheet" href="static/css/skeuos.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <header>
        Registro de movimientos de Criptomonedas
    </header>
    <nav class="main_menu">
        <a href="/">Inicio</a>|<a href="\purchase"> Purchase</a>| Status
        
    </nav>
    <main>
        {% block contenido %}
        <h1 class="main_page_title">{% block page_title %}{% endblock %}</h1>
        {% endblock %}
    </main>
    <footer class="pie_de_pagina">2022 - Todos los derechos reservados</footer>
</body>

</html>