{% extends "base.html" %}
{% block head_title %}
{{ super() }}: Inicio
{% endblock %}

{%  block page_title %}
Listado de Movimientos
{% endblock %}

{% block contenido %}
{{ super ()}}
    <table class="paper">
        <tr>
            <th class="cabecera_tabla">Fecha</th>
            <th class="cabecera_tabla">Hora</th>
            <th class="cabecera_tabla">From</th>
            <th class="cabecera_tabla">Q</th>
            <th class="cabecera_tabla">To</th>
            <th class="cabecera_tabla">Q</th>
            <th class="cabecera_tabla">P.U</th>
        </tr>
        {% if movs %}
            {% for mov in movs %}
            <tr>
                <td>{{mov.date}}</td>
                <td>{{mov.time}}</td>
                <td>{{mov.moneda_from}}</td>
                <td>{{mov.cantidad_from}}</td>
                <td>{{mov.moneda_to}}</td>
                <td>{{mov.cantidad_to}}</td>
                <td>{{mov.cantidad_from / mov.cantidad_to}}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">No hay movimientos que mostrar</td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <a href="/status">
                    <button type="button" name="return" id="return">Status</button>            
                </a>    
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">
                <a href="/purchase">
                   <button type="submit" name="return" id="return">+</button>
                </a>
            </td>
        </tr>
    </table>
{% endblock %}