{% extends "base.html" %}
{% block head_title %}
{{ super() }}: Purchase
{% endblock %}

{%  block page_title %}
Compra de Criptos
{% endblock %}

{% block contenido %}
{{ super ()}}

{% if errores %}
  <div class="lista-errores">
    <p>
      <ion-icon name="warning-sharp" class="icono-error"></ion-icon>
    </p>
    <div>
      {% for error in errores %}
        <p>{{ error }}</p>
      {% endfor %}

     
    </div>
  </div>
{% endif %}

<form class="paper" action="/purchase" method="post">
    {{formulario.csrf_token}}    
        
        {{formulario.moneda1.label}}
        {{formulario.moneda1}}
        {{formulario.moneda2.label}}
        {{formulario.moneda2 }}
    <br>
        {{formulario.cantidad.label}}
        {{formulario.cantidad}}
        {{formulario.consultarapi}}
        {{numero}}
        <br>
        <p>P.U.: {{calculo}}</p>
       
    <br>     
        <button type="reset" name="return" id="return"> Borrar </button>
        {{formulario.enviar}}
    
</form>
{% endblock %}
