{% extends "base.html" %}
{% block head_title %}
{{ super() }}: Status
{% endblock %}

{%  block page_title %}
Estado de la Inversión
{% endblock %}

{% block contenido %}
{{ super ()}}

{% if errores %}
  <div class="fallo">
   
    <div>
      {% for error in errores %}
        <p>{{ error }}</p>
      {% endfor %}
      
      {{ formulario.errors }}
    </div>
  </div>
{% endif %}

<form class="paper" action="/purchase" method="GET">
    <label for="q_to"> Invertido:  {{saldo_euros_invertidos}} </label>
    <a name="q_to" id="q_to"></a>
    <br>
    <label for="pu"> Valor Actual:  {{valoractual}}</label>
    <a name="pu" id="pu"></a>
    <br>
    <br>
    <button type="return" name="return" id="return"><img src="\static\images\volver.png" height="30px"></button>

    
</form>
{% endblock %}
